html,
body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.user.active {
  background-color: #CCCCCC;
}
.user.inactive {
  background-color: #FFFFFF;
}

.user-info.active {
  display: block;
}
.user-info.inactive {
  display: none;
}

.user {
  cursor: pointer;
  padding: 10px 4px;
  max-width: 300px;
}
.user:hover {
  background-color: #CCCCCC;
}

.user .user-info {
  padding-top: 10px;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
  padding: 4px;
}
.icon-btn:hover {
  background-color: #AAAAAA;
}

.todo.completed {
  text-decoration: line-through;
}
