html,
body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

#loading-overlay {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  opacity: .85;
  font-size: 2rem;
  font-weight: bold;
}

#loading-overlay .loading-msg {
  margin: auto;
}

#users-container {
  margin-right: 5%;
}

#todo-add-container {
  display: flex;
  justify-content: flex-start;
}

.interface-panels {
  display: flex;
  justify-content: flex-start;
}

.user.active {
  background-color: #CCCCCC;
}
.user.inactive {
  background-color: #FFFFFF;
}

.user-info.active {
  display: block;
}
.user-info.inactive {
  display: none;
}

.user {
  cursor: pointer;
  padding: 10px 4px;
  min-width: 300px;
}
.user:hover {
  background-color: #CCCCCC;
}

.user .user-info {
  padding-top: 10px;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
  padding: 4px;
}
.icon-btn:hover {
  background-color: #AAAAAA;
}

.todo {
  margin: 10px 0;
}

.todo.completed {
  text-decoration: line-through;
}
.todo.uncompleted {
  text-decoration: none;
}

.todo-add-input {
  min-width: 425px;
  padding: 4px;
  margin-left: 20px;
}
